* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}



.App {
  width: 100%;
  height: 100%;
  position: static;
}

.box1 {
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 1px solid white;
}

.head1 {
  padding: 30px;
}
.btn1 {
  display: none;

}

@media screen and (min-width: 768px) {

  .btn1 {
    display: inline;
    float: right;
    width: 100px;
    height: 25px;
    color: white;
    background-color: #0076ef;
    border: 1px solid #0076ef;
    border-radius: 3px;
  }
  .box1 {
    display: flex;
    flex-wrap: wrap;
  }
}
